header {
    background-color: orange;
}

header nav a {
    background-color: chocolate;
}

.title {
    text-align: center;
    font-weight: bold;
}

.receta {
    background-color: chocolate;
}

footer {
    background-color: orange;
    text-align: center;
}

